.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2.5px solid black;
    border-radius: 30px;
    margin: 0px 40px;
}

.category{
    padding: 8px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    font-family: var(--font-main);
    color: black;
    margin: 5px;
    font-weight: 400;
    text-decoration: none;
}

.active{
    background-color: black;
    color: white;
    font-weight: bold;
}