.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.container img{
    height: auto;
    width: 120px;
}
.container input{
    border: 2.5px solid black;
    border-radius: 10px;
    flex: 1;
    font-family: var(--font-main);
    font-size: larger;
    height: fit-content;
    flex: 1;
    padding: 10px;
    margin-top: 10px;
}

.container span{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

.nav{
    color: black;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    padding: 8px;
}

.active{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}