body{
  background-color: white;
  color: black;
  overflow-x: hidden;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

:root{
  --font-main: Montserrat,Arial
  --font-text: Source Sans Pro, Arial
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}