.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5px solid white;
    border-radius: 30px;
    margin: 0px 40px;
}

.categories button{
    padding: 8px;
    border-radius: 20px;
    background-color: #0096C7;
    font-size: 20px;
    font-family: var(--font-text);
    color: white;
    margin: 5px;
}